Devon Dive Adventures
About them/what they aim for
•	Luxury Yacht 
•	Stress free
•	No crowds
•	Atmospheric
•	Night sailing
•	Fishing
•	Scuba diving
Purpose of the website
Inform customers of the company and the above points
Visual style
Dynamic and adventurous atmosphere/feeling
Vibrant colours (Main colour scheme is Navy Blue and orange)
Key elements
Feature images from various travel destinations
Include customer reviews/testimonials

the webisite will have 4 total pages:
Home page - brief intoduciton into the company
activity page - information on all the activitys they offer
bookings page - includs how to book, dates and locations
help page - reviews section and contact us section
