html, body {
    margin: 0px;
    padding: 0px;
    width: 100%; 
    background-color: #2E5A88;
  }
  



#navigationBar {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: gray;
  flex-wrap: wrap;
}

#navigationBar li {
  margin: 0 10px;
}

#navigationBar li a {
  display: block;
  background-color: #FF7417;      
  color: white;                   
  padding: 12px 24px;          
  border: none;                  
  border-radius: 6px;           
  font-size: 16px;                
  cursor: pointer;               
  text-decoration: none;          
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#navigationBar li a:hover {
  background-color: #e0600f;      
  transform: translateY(-2px);
}


.banner {
    color: black;
    margin: 0px 0px 0px 0px;
    padding: 0px;
    background-color:#182f47;
    background-position: left;

  }

img{
    margin: 0px 0px 0px 0px;
    padding: 0px;
}

.main{
    display: flex;
    flex-direction: column;
    border: 1px, solid, green;
    margin: 25px 25% 5px 25%;
    height:1000px;
    width: auto;
    max-width: 50%;
    align-items: center;
}

footer {
  background-color: #182f47;
  padding: 10px;
  color: white;
  text-align: center;
}

.footertitle {
  width: 100%;
  height: auto;
  border: 1px solid green;
}

.footermain {
  width: 100%;
  height: auto;
  border: 1px solid yellow;
  display: flex;
  justify-content: space-between;
}

.footerleft,
.footerright {
  width: 49%;
  border: 1px solid orangered;
}


.soliddivider{
  border-top: 3px solid #bbb;
  border-radius: 5px;
  margin: 5px 10% 5px 10%;
}

p{
    color: white;
    font-size: 25px;
}

.smalltext{
      color: white;
    font-size: 20px;
}

.smalltitle{
  font-size: 1.5rem;          
  color: #e0e0e0;              
  text-align: center;         
  margin-top: 10px;
  margin-bottom: 20px;
  font-weight: 300;            
  font-style: italic;          
      
}

h1{
  font-size: 2.5rem;           
  font-weight: bold;          
  color: #ffffff;             
  text-align: center;         
  padding: 0px ;           
  }

.button {
  background-color: #FF7417;      
  color: white;                   
  padding: 12px 24px;          
  border: none;                  
  border-radius: 6px;           
  font-size: 16px;                
  cursor: pointer;               
  text-decoration: none;          
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

.button:hover {
  background-color: #e0600f;      
  transform: translateY(-2px);    
}