html, body {
    margin: 0px;
    padding: 0px;
    width: 100%; 
    background-color: #2E5A88;
  }
  



#navigationBar {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #FF7417;
  flex-wrap: wrap;
}

#navigationBar li {
  margin: 0 10px;
}

#navigationBar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 15px 20px;
  text-decoration: none;
  background-color: gray;
  border-radius: 4px; 
  transition: background-color 0.3s;
}

#navigationBar li a:hover {
  background-color: lightgray;
  color: black;
}


.banner {
    color: black;
    margin: 0px 0px 0px 0px;
    padding: 0px;
    background-color:#182f47;
    background-position: left;

  }

img{
    margin: 0px 0px 0px 0px;
    padding: 0px;
}

.main{
    display: flex;
    flex-direction: column;
    border: 1px, solid, green;
    margin: 25px 25% 5px 25%;
    height:1000px;
    width: auto;
    max-width: 50%;
    align-items: center;
}

footer {
  background-color: #182f47;
  padding: 10px;
  text-align: center;
  color: white;
}

p{
    color: white;
    font-size: 25px;
}